*{
    margin: 0;
    padding: 0;
}

div{
    justify-content: space-between;
}

#ani1{
    display:inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    width: auto;
    text-transform: uppercase;
    
    
}

#ani2{
    display:inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    width: auto;
    text-transform: uppercase;

}
#ani3{
    display:inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    width: auto;
    text-transform: uppercase;
}

div h1{
    color:gray ;
}

div > .thirdline1{
    background-color: rgb(200, 16, 16);
    animation-name: color;
    animation-duration: 2s;
    color: #fff;
    

}
div > .thirdline2{
    background-color: rgb(209, 199, 13);
    animation-name: color;
    animation-duration: 2s;
    color: #fff;
}

div > .thirdline3{
    background-color: rgb(44, 97, 202);
    animation-name: color;
    animation-duration: 3s;
    color: #fff;
}

@keyframes color {
0% {background-color: red;}
25%{background-color: yellow;}
50%{background-color: blue;}
75%{background-color: palevioletred;}
100%{background-color: green;}
}
